# Base Requirements
wheel==0.37.1
Django==4.0.1
django-environ==0.8.1
requests==2.27.1
bs4==0.0.1
pandas==1.4.0
djangorestframework==3.13.1
lxml==4.8.0
tables==3.7.0 
phonenumbers==8.12.45
psycopg2-binary==2.9.3 
django-allauth==0.50.0 
fontawesomefree==6.1.1
jsonschema==4.5.1
djangorestframework-simplejwt==5.2.0
whitenoise==6.3.0